body {
    background-color: rgb(255, 136, 91);
    ;
    color: black;
}

.container {
    width: 90%;
    background-color: rgb(255, 229, 207);
    margin: auto;
}

.header {
    padding: 10px;
}

.header .judul {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.header ul li {
    display: inline;
    margin-right: 15px;
}
